.trafficLight{
  border: solid 5px black;
  text-align: center;
  width: 10%;
  height: 570px;
  margin-left: 45%;
  margin-top: 10%;
  background-color: black;
}
.light{
  width: 90%;
  height: 175px;
  border: 2px solid black;
  border-radius: 50%;
  margin: auto;
  margin-top: 7px;
}
.glow{
  box-shadow: 0px 3px 10px 10px #ebeb34;
}
.red{
  background: red;
}
.yellow{
  background: yellow;
}
.green{
  background: green;
}