.trafficLight{
  border: solid 5px black;
  text-align: center;
  width: 20%;
  height: 600px;
  margin-left: 40%;
  margin-top: 5%;
  background-color: black;
}
.circle1{
  width: 52%;
  height: 32%;
  border: solid 1px green;
  border-radius: 50%;
  background-color: green;
  margin-top: 4px;
}
.circle2{
  width: 52%;
  height: 32%;
  border: solid 1px yellow;
  border-radius: 50%;
  background-color: yellow;
  margin-top: 4px;
}
.circle3{
  width: 52%;
  height: 32%;
  border: solid 1px red;
  border-radius: 50%;
  background-color: red;
  margin-top: 4px;
}